html, body {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: green;
}
#viewport {
    overflow: hidden;
    position: relative;
}
#viewport canvas, img {
    position: absolute;
    top: 0;
    left: 0;
}
#viewport img {
    width: 100%;
    height: 100%;
}
.right-container {
    float: left;
    margin: 2px;
}
.right-container button {
    display: block;
    border: 1px solid rgb(106, 163, 215);
    background: white;
    margin: 2px;
    width: 140px;

}
.right-container button:hover {
    cursor: pointer;
    background: rgb(126, 183, 235);
    color: white;
}